@import url(reset.css);

main {
    min-height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background: rgb(255,244,246);
    background: radial-gradient(circle, rgba(255,244,246,1) 0%, rgba(255,181,194,1) 46%, rgba(255,208,251,1) 100%);
    z-index: -99999;
}

.bg-circle {
    background: radial-gradient(circle, rgba(255,244,246,1) 0%, rgba(255,181,194,1) 46%, rgba(255,208,251,1) 100%);
    z-index: -99999;
}

.orig-bg-color {
    background-color: rgba(255,181,194,1);
}